*{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #edf0f5;
    display: flex;
    flex-direction: row;

}

.container-informacoes-facebook{
    grid-area: informacoes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 130px 140px;
}


.container-informacoes-facebook h3{  
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 35px;
    width: auto;
    text-rendering: optimizeLegibility;
    
}

.container-login-quem{
    grid-area: login-quem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.logo-facebook{
    padding-bottom: 20px;
}

.container-login-criar {
    margin: 100px 100px 20px 0px;
    height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 10px; 
}

.container-email-senha{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

.container-email-senha input{
    border: 1px solid #b3b4b6;
    height: 40px;
    padding: 3px;
    border-radius: 7px;
}

.container-email-senha #input-email{
    margin: 15px 15px 5px 15px;
}

.container-email-senha #input-senha{
    margin: 5px 15px 5px 15px;
}

.para-quem-criar{
    margin: 0px 120px 100px 0px;
}