*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #edf0f5;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.container-informacoes-facebook{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    align-items: flex-end;
    padding: 0px 0px 60px 50px;
}

.container-login-quem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 0px 0px 0px 70px;
}

.container-informacoes-facebook h3{  
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    width: auto; 
    text-rendering: optimizeLegibility;
    
}

.logo-facebook{
    padding-bottom: 15px;
}

.container-login-criar {
    height: 330px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 10px; 
}

.container-email-senha{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

.container-email-senha input{
    border: 1px solid #b3b4b6;
    height: 40px;
    padding: 3px;
    border-radius: 7px;
}

.container-email-senha #input-email{
    margin: 15px 15px 5px 15px;
}

.container-email-senha #input-senha{
    margin: 5px 15px 5px 15px;
}

.para-quem-criar{
    
}