*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #edf0f5;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.container-informacoes-facebook{
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    align-items: flex-end;
    padding: 0px 93px 50px 30px;
}

.container-login-quem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: 40px 30px 0px 0px;
}


.container-informacoes-facebook h3{  
    color: #1c1e21;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 33px;
    width: auto; 
    text-rendering: optimizeLegibility;
    
}

.logo-facebook{
    padding-bottom: 15px;
}

.container-login-criar {
    height: 370px;
    width: 398px;
    display: flex;
    flex-direction: column;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}


.container-email-senha{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

.container-email-senha input{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    border: 1.5px solid #d7d7da;
    height: 45px;
    padding: 3px 0px 3px 14px;
    border-radius: 7px;
    outline-color: rgb(121, 175, 245);  
}

.container-email-senha input:active{
    color: rgb(238, 224, 224);
}
.container-email-senha #input-email{
    font-family: Helvetica, Arial, sans-serif;
    margin: 15px 15px 5px 15px;
}

.container-email-senha #input-senha{
    margin: 5px 15px 20px 15px;
    /* padding-left: 20px; */
}

.para-quem-criar{
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 21px;
    margin-left: 5px;
    font-size: 14px;
    text-align: center;
}

.entrar {
    background-color: #1877F2;
    color: #ffffff;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 1.5px solid #d7d7da;
    height: 52px;
    border-radius: 7px;
    margin: 0px 15px;
    outline-color: rgb(7, 109, 243);
}

.entrar:hover{
    background-color: #145fc2;
}

.esqueceu-senha{
    color: #1877F2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    align-self: center;
    margin-top: 15px;
}


.esqueceu-senha:hover{
    text-decoration: underline;
}

.divisoria {
    border-top: 0.1px solid rgb(218, 218, 218);
    width: 360px;
    align-self: center;
    margin-top: 25px;
}

.criar-conta{
    background-color: #42B72A;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    width: 170px;
    margin-top: 30px;
    align-self: center;
    border: 1.5px solid #d7d7da;
    height: 50px;
    border-radius: 7px;
    outline-color: rgb(7, 109, 243);
}

.criar-conta:hover{
    background-color: #3ba327;
}

@media (max-width: 900px) {
    .main-container{
        flex-direction: column;
        align-items: center;
    }

    .container-informacoes-facebook{
        
        align-items: center;
        padding: 0px;
    }

    .container-email-senha, .container-login-quem{
        padding: 0px;
    }

    .logo-facebook{
        padding: 50px 0px 20px 0px;
    }

    .container-informacoes-facebook h3 {
        width: 410px;
        font-size: 23px;
        font-weight: normal;
        line-height: 30px;
        text-align: center;
        padding-bottom: 30px;
    }

    .para-quem-criar{
        padding-bottom: 30px;
    }
}